body{
    color:#526273;
    background-color:#ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size:13px;
}
table, td {
    margin:auto;
    border-bottom: 1px solid #EDF2F7;
    padding:5px;
}
table{
    width: 98%;
    min-width:500px;
    border-collapse:collapse;
    border-bottom:2px solid #EDF2F7;
}
.table-fav {
	margin:auto;
	padding:5px;
	width: 98%;
	min-width:500px;
	border-collapse:collapse;
	border-bottom:2px solid #EDF2F7;
}
.table-fav tr,
.table-fav tr td {
	vertical-align:top;
}
.table-fav tr {
	min-height:28px;
}
.table-fav tr th,
.table-fav tr td {
	font-size:11px;
}
tr{
    vertical-align:top;
    min-height:28px;
}
tr:nth-child(odd){
    background-color:#F7F7F7;
}
tr:nth-child(even){
    background-color:#FFFFFF;
}
tr:not(.tableHead):hover{
    background-color:#EEE;
}

.tableHead{
    color:#333333;
    font-weight:bold;
    padding:5px;
    padding-bottom:20px;
}

.heci{
    width:28%;
}
.available{
    
}
.price{
    width: 5%;
}
.user{
    width:5%;
    padding-right:15;
}
.item div{
   display:inline-block;
   position:relative;
   padding-bottom:1px;
}
.new{
   width:20px;
   font-weight:bold;
}
.old{
   text-align:left;
   width:30px;
}
.part{
    padding-left:6px;
    padding-right:6px;
    min-width:400px;
    width:20%;
}
.supplier{
/*
	min-width:247px;
	min-width:200px;
	max-width:200px;
*/
	display:inline-block;
	position:relative;
	padding-bottom:1px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}

.delta{
	display:inline-block;
	position:relative;
	padding-bottom:1px;
}
.delta.neg {
	color:red;
}
.delta.pos {
	color:green;
}

.source{
   width:40;
}
.source img{
   width:11px;
}
.price{
    width:10%;
    position:absolute;
    right:0;
}
.container .row {
	font-size:11px !important;
}
