body{
    color:#526273;
    background-color:#dddddb;
    font-family: 'Open Sans', sans-serif;
    font-size:15px;
}
table, td {
    margin:auto;
    border-bottom: 1px solid #EDF2F7;
    padding:5px;
}
table{
    width: 40%;
    border-collapse:collapse;
    border-bottom:2px solid #EDF2F7;
}
tr{
    vertical-align:top;
    min-height:28px;
}
tr:nth-child(odd){
    background-color:#F7F7F7;
}
tr:nth-child(even){
    background-color:#FFFFFF;
}
tr:not(.tableHead):hover{
    background-color:#EEE;
}

.tableHead{
    color:#333333;
    font-weight:bold;
    padding:5px;
    padding-bottom:20px;
}

.heci{
    width:28%;
}
.available{
    
}
.price{
    width: 5%;
}
.user{
    width:5%;
    padding-right:15;
}
.item div{
   display:inline-block;
   position:relative;
   padding-bottom:1px;
}
.new{
   width:20px;
   font-weight:bold;
}
.old{
   text-align:left;
   width:30px;
}
.part{
    padding-left:6px;
    padding-right:6px;
    min-width:400px;
    width:20%;
}
.supplier{
   min-width:247px;
}
.negdelta{
   color:red;
}
.posdelta{
   color:green;
}

.source{
   width:40;
}
.source img{
   width:12px;
}
.price{
    width:10%;
    position:absolute;
    right:0;
}