.navbar {
	position:fixed;
	top:0px;
	width:100%;
	z-index:1003;
}
.navbar .logo {
	margin:4px 18px;
	float:left;
}
.navbar .logo img {
	height:36px;
}
.navbar-inverse input.search {
	width:400px;
}

.table-header {
	z-index:1001;
	background-color:#ddd;
	position:fixed;
	top:46px;
	box-shadow: 2px 1px 2px #888888;
}

.table-filter {
	padding-right:12px;
}

.input-xs {
  height: 24px;
  padding: 3px 4px 3px 6px !important;
  font-size: 12px !important;
  line-height: 1.3;
  border-radius: 3px;
}
.input-xxs {
  height:12px;
  padding: 0px 0px !important;
  font-size: 9px !important;
  line-height:1;
  border:1px solid transparent;
  width:50px;
  cursor:pointer;
  border-radius:2px;
}
.input-xxs:hover {
  border:1px solid #ddd;
}

.sub-nav #pad-wrapper {
	margin-top:120px;
}

.input-primary {
	border-color:#357ebd;
}

.item-notes {
	cursor:pointer;
}


/***** MODAL NOTES DIALOG BOX *****/
.modal-notes {
/*
	display:none;
	visibility:hidden;
	z-index:1000;
	height:300px;
	overflow:visible;
	position:absolute;
*/
}
.modal-notes .modal-footer {
	text-align:left !important;
}
.modal-notes .modal-header, .modal-footer {
	padding:8px;
}
.modal-notes .modal-body, .modal-notes .modal-body .table {
	margin:0px;
	padding:0px;
}
.modal-notes .modal-body {
	height:200px;
	overflow:scroll;
}
.modal-notes .modal-header {
	width:100%;
}
.modal-notes .notes-body .notes-text {
	width:100%;
}

/* save button positioned within textarea */
.modal-notes .notes-body {
	position:relative;
}
.modal-notes .notes-body .btn-notes {
	position:absolute;
	bottom:1px;
	right:1px;
}
/* end save button */

/***** END MODAL NOTES DIALOG BOX *****/

#advanced-search-options .btn-submit {
	position:absolute;
	bottom:-1px;
	right:-1px;
}

.source {
	float:right;
	font-style:italic;
}

.tooltip-inner {
	color:#000;
	background-color:#eee;
	border:1px solid #aaa;
	box-shadow: 1px 1px 1px #999;
}
.tooltip.left .tooltip-arrow {
	border-left-color:#aaa;
}
.tooltip.right .tooltip-arrow {
	border-right-color:#aaa;
}
.tooltip.top .tooltip-arrow {
	border-top-color:#aaa;
}
.tooltip.bottom .tooltip-arrow {
	border-bottom-color:#aaa;
}

.table-products .table .first td > div,
.table-products .table .descr-row > div {
	vertical-align:top;
	padding:0px;
}
.table-products .table td a {
	margin-top:0px;
}
.table-products .table .product-img, .table-products .table .product-descr, .first .qty, .first .price, .table .product-action, .table .first .product-action div {
	font-size:11px;
	display:inline-block;
}
.table-products .table input[type="checkbox"] {
	margin:0;
	margin-right:4px;
}
.table .product-action div input[type="checkbox"] {
	position:relative;
	/*top:-8px;*/
}
.table .first,
.table .first .product-action div {
	vertical-align:top;
}
.table .first {
	height:48px;
}
.table .product-action {
	vertical-align:top;
	width:48px;
	padding:0px;
	margin:0px;
}
.table .first .product-action {
	height:24px;
}
.table .product-results .product-action .action-box {
	height:22px;
}
.table .product-results .product-action .action-box input[type="checkbox"] {
	/*margin-top:6px;*/
	left:37%;
}
.slider-box {
	position:relative;
}
.slider-box .slider-frame {/*.toggle-results {*/
	z-index:1000;
	position:absolute;
	top:6px;
	right:4px;
	height:16px;
	width:60px;
}
.slider-box .slider-frame .slider-button {
	height:16px;
	line-height:16px;
	width:44px;
}
.slider-box .slider-frame .slider-button.on {
	margin-left:16px;
}

.table .first .action-items {
	margin-left:5px;
	margin-top:-5px;
}
.table .first .btn-group.btn-resultsmode.action-items {
	margin-top:0px;
	margin-bottom:-2px;
}
.table tr .action-hover .action-items {
	visibility:hidden;
}
.table tr:hover .action-hover .action-items {
	visibility:visible;
}
/*
.action-items a {
	margin:0px;
}
.table tr .action-hover .action-items {
	display:none;
}
.table tr:hover .action-hover .action-items {
	display:block;
}
*/

.first .product-descr {
	margin-left:12px;
}
.table-products .table .product-img {
	margin-top:2px;
    margin-right: 12px;
	background:white;
    border: 1px solid #dfe4eb;
}
.table-products .table .product-img .img {
    height: 28px;
    width: 28px;
	margin:3px;
    text-align: center;
	border:0px;
}
.table-products .table .product-descr a {
	padding:0px;
	margin:0px;
}
.table-products .table .product-descr {
	width:370px;
}
.table-products .table .product-descr .descr-edit input {
	height: 20px;
	padding: 2px 3px 2px 4px !important;
	font-size: 11px !important;
	line-height: 1.1;
}
.table-products .table .product-descr .description, .table-products .table .product-descr .description .descr-edit input {
	font-size:10px;
	color:#aaa;
}
.table-products .table .product-search {
	border:0px;
	background-color:transparent;
	font-weight:bold;
}
.descr-row {
	height:48px !important;
}

.table-products .table .market-row {
	padding:0px;
	vertical-align:top !important;
}
.table-hover > tbody > tr > td.warning.nohover:hover,
.table-hover > tbody > tr.warning.nohover:hover > td {
	background:#fcf8e3 !important;
}
.qty-header {
	padding-left:64px;
	padding-right:20px;
}
.first td {
	border-bottom:1px solid #ccc;
	background-color:#eff0f6;
    background: -webkit-linear-gradient(#eff0f6, #eaeaea); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#eff0f6, #eaeaea); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#eff0f6, #eaeaea); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#eff0f6, #eaeaea); /* Standard syntax */
}
.product-results .qty {
	font-weight:bold;
	vertical-align:middle;
	margin:4px 12px 4px 4px;
	display:inline-block;
}
.search-qty {
	width:40px;
	margin-left:4px;
	font-weight:bold;
}
.product-results .price .btn i {
	color:#aaa;
}
.price-header, .product-results .price {
	padding-right:12px;
	display:inline-block;
	text-align:right;
}
.price-header, .product-results .descr-row .price {
	float:right;
}
.product-results .product-actions .price {
	/*float:left;*/
}
.price .form-group input {
	text-align:right;
	cursor:pointer;
}
.form-group .input-group.sell, .form-group .input-group.buy, .form-group.target {
	width:90px;
}
.form-group .input-group-btn .btn {
	padding-left:7px;
	padding-right:7px;
}
.form-group .input-group.sell {
	border:1px solid #468847;
	border-radius:4px;
}
.form-group .input-group.sell:focus {
	border-color:#356635;
}
.form-group .input-group.buy {
	border:1px solid #b94a48;
	border-radius:4px;
}
.form-group .input-group.buy:focus {
	border-color:#953b39;
}
.form-group .input-group.sell .input-group-btn .btn, .form-group .input-group.buy .input-group-btn .btn {
	border:0px;
}
.form-group .input-group.sell input, .form-group .input-group.buy input {
	border:0px;
}
.btn.icon {
	margin-left:4px;
	margin-right:4px;
}
.product-results .form-group input.form-control {
	padding-left:3px;
	padding-right:3px;
}
.field-box {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 0;
	float: left;
	width: 100%;
}
.inline-form.order-form .field-box textarea {
	width:60%;
}
input[type="text"].inline {
	background:transparent !important;
	border:0px !important;
}


#loading-bar {
	background:#f4efd4;
	width:200px;
	height:36px;
	position:fixed;
	left:45%;
	top:0px;
	z-index:3001;
	color:black;
	text-align:center;
	border-radius:0px 0px 3px 3px;
	border:1px solid #e0e0e0;
	box-shadow: 2px 3px 2px #888;
	padding:4px;
	font-size:14px;
	display:none;
}

.search-form .search-group {
	width:320px;
	margin:6px 36px;
	margin:6px auto;
	z-index:1003;
}
.search-center {
	height:0;
	overflow:visible;
	width:100%;
	margin:auto;
	position:absolute;
	text-align:center;
}
#s, .product-search, .descr-edit input {
	text-transform:uppercase;
}
.product-search {
	width:100%;
}


/***** ADVANCED SEARCH OPTIONS *****/
#advanced-search-options {
	position:absolute;
	top:-7px;
	width:100% !important;
	margin-left:auto !important;
	margin-right:auto !important;
	text-align:center;
	z-index:1002;
	background-color:rgba(0, 0, 0, 0.8);
	box-shadow: 2px 3px 2px #888;
}
.sub-nav #advanced-search-options {
	top:-72px;
}
#advanced-search-options.animated {
	-webkit-animation-duration: .3s;
	-o-linear-animation-duration: .3s;
	-moz-animation-duration: .3s;
}
#advanced-search-options div textarea {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
	width:100%;
}
#advanced-search-options div p, #advanced-search-options .options-group label {
	color:#fff !important;
}
#advanced-search-options div p input {
	margin-right:8px;
}
#advanced-search-options div {
	margin:0px;
	padding:0px;
}
#advanced-search-options .options-group.text-left > div {
	padding-left:12px;
}
#advanced-search-options .options-group > div {
	margin-top:8px;
	margin-bottom:8px;
}
#advanced-search-options .options-group > div.lists-manager {
	background-color:#555;
}
#advanced-search-options .options-group div label {
	padding-bottom:0px;
	margin-bottom:0px;
}
#advanced-search-options .options-group p {
	margin-top:4px;
	margin-bottom:4px;
}

/***** HEADER TAGS WITH LEADING AND TRAILING LINES *****/
.header-border {
	position: relative;
	top:6px;
    border-top: 1px solid #fff;
	height:14px;
	overflow:visible;
}
.header-border h1,
.header-border h2,
.header-border h3,
.header-border h4,
.header-border h5,
.header-border h6 {
    position: absolute;
    top: -12px;
	padding: 0px 10px;
    display: inline-block;
	background-color: #303030;
}

/***** FREEFORM TEXTAREAS *****/
textarea.freeform-text {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
	width:100%;
	background:none;
	border:0px;
	min-height:400px;
}

.company-selector {
	width:280px;
}
.manf-selector {
	width:180px;
}
.lists-selector {
	width:340px;
}
.system-selector {
	width:180px;
}

.business-icon {
	float:left;
	padding-right:20px;
}
.name {
	padding-top:8px !important;
	margin-top:0px !important;
}

/*** PROFILE PAGE ***/
.user-profile .header {
	vertical-align:top;
}
.profile-box table tr td, .profile-body .row > div > .form-group {
	vertical-align:top !important;
}
.terms-select2.terms-type {
	width:160px;
}
.terms-select2.terms-selections {
}
.terms-section {
	padding-top:20px;
	padding-bottom:20px;
	border-top:1px solid #ddd;
	border-bottom:1px solid #ddd;
	background-color:#eee;
}


/*** MARKET MANAGER ***/
.market-table {
	font-size:11px;
}
.market-results {
	position:absolute;
	overflow:hidden;
	width:100%;
}
.market-table td {
	height:140px;
	min-height:140px;
	white-space:nowrap;
}

.market-table .bg-sales .market-body, .market-table .bg-demand .market-body, .market-table .bg-purchases .market-body {
	height:80% !important;
	width:100%;
	overflow:hidden;
	display:block;
	position:absolute;
}
.market-table .bg-sales:hover .market-body, .market-table .bg-demand:hover .market-body, .market-table .bg-purchases:hover .market-body {
	padding:4px;
	height:100% !important;
	width:120%;
	background:inherit;
	overflow-y:scroll;
	border:1px solid #ccc;
	box-shadow: 2px 1px 2px #888888;
	z-index:999;
}
.market-table .summary * {
	color:#555 !important;
	font-weight:normal;
}
.market-table .archives * {
	color:#999 !important;
	font-weight:normal;
	font-style:italic;
}

.market-table .market-results {
	height:114px;
	overflow:hidden;
	width:95%;
	background:white;
}
.market-table .bg-availability:hover .market-results {
	padding:4px;
	height:120%;
	width:140%;
	border:1px solid #ccc;
	overflow-y:scroll;
	box-shadow: 2px 1px 2px #888888;
	z-index:999;
}
.market-table hr {
	margin:8px 0px;
}
.market-table tr td, .market-table tr:hover td {
	vertical-align:top !important;
}
.market-table tr:hover td.price {
	background-color:#fff;
}
.market-table tr:hover td.bg-demand, .bg-demand, .bg-demand:hover {
	background-color:#fff;
}
.market-table tr:hover td.bg-availability, .bg-availability, .bg-availability:hover {
	background-color:#fff;
}
.market-table tr:hover td.bg-sales, .bg-sales, .bg-sales:hover {
	background-color:#f7fff0;
    background: -webkit-linear-gradient(#f7fff0, #fff); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#f7fff0, #fff); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#f7fff0, #fff); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#f7fff0, #fff); /* Standard syntax */
}
.market-table tr:hover td.bg-purchases, .bg-purchases, .bg-purchases:hover {
	background-color:#f5dfba;
    background: -webkit-linear-gradient(#f5dfba, #fff); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#f5dfba, #fff); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#f5dfba, #fff); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#f5dfba, #fff); /* Standard syntax */
}

#market-results {
	line-height:10px;
}
.market-data, .date-group {
	vertical-align:top !important;
	text-align:left;
	font-size:10px;
	line-height:10px;
	padding:0px;
	margin:0px;
	margin-bottom:2px;
}
.market-data > a, .date-group a, .modal-results {
	padding:0px !important;
	margin:0px !important;
	text-decoration:none !important;
}
.pa {
	color:#000;
}
.market-data > .pa {
	vertical-align:top !important;
	display:inline-block;
	width:14px;
	color:#555;
}
.market-company {
	min-width:80px;
	max-width:110px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}
.market-table .bg-demand:hover .market-company {
	overflow:visible;
	max-width:120px;
}
.market-title {
	padding:0px 0px 4px 0px !important;
	margin:0px !important;
}
.market-download {
	padding:0px !important;
	margin:0px !important;
}
.marketpricing-toggle, .marketpricing-toggle i {
	padding:0px !important;
	margin:0px !important;
}
#marketModal .modal-body {
	font-size:11px;
	height:400px;
	overflow:scroll;
}
#marketModal .message-body {
	width:100%;
}
#marketModal .modal-body .company-name {
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}
#marketModal .modal-body .row div {
	white-space:nowrap;
}
.modal-striped .row {
  line-height:24px;
}
.modal-striped .row:nth-child(even) div{
  background-color: #ffffff;
}
.modal-striped.modal-hover .row:hover:nth-child(even) div{
  background-color: #fcfcfc;
}
.modal-striped .row:nth-child(odd) div{
  background-color: #f5f5f5;
}
.modal-striped.modal-hover .row:hover:nth-child(odd) div{
  background-color: #f3f3f3;
}



.date-group {
	font-weight:normal;
	color:#666;
	text-align:left;
}
.bot-icon {
	height:10px;
	vertical-align:middle;
	margin-bottom:2px;
}
a.fa {
	text-decoration:none !important;
}
.fa-chevron-up {
	color:#20cb27;
}
.fa-chevron-down {
	color:#cb2027;
}
.fa-circle-o {
	color:transparent;
}
.options-toggle.fa-sort-asc {
	vertical-align:bottom;
}

/*.first .row > div {*/
.header-text {
	font-weight:bold;
}
.info {
	font-weight:normal;
	color:#999;
}
tr.info td, td.info {
	background-color:#d9edf7 !important;
}
tr.info:hover td, td.info:hover {
	background-color:#e9fbff !important;
}


/***** NOTIFICATIONS *****/
.navbar-inverse .notification-dropdown .count {
	background:#b94a48;
}
.notification-dropdown {
	text-align:left;
}
.navbar-inverse .pop-dialog .notifications {
	width:400px;
}
.navbar-inverse .pop-dialog .notifications .item {
	padding-left:0px;
}
.navbar-inverse .pop-dialog .notifications .item.unread {
	background-color:#fffff5;
}
.navbar-inverse .pop-dialog .notifications .item.unread .time {
	color:#b94a48;
}
.navbar-inverse .pop-dialog .notifications .item.unviewed {
	background-color:#f3f7fa;
}
.notifications .item .user {
	width:60px;
	display:block;
	float:left;
	padding-left:10px;
	padding-right:20px;
}
.notifications .item .user.fa-stack .user-text {
	text-align:center;
	margin-top:10px;
	margin-left:auto;
	margin-right:auto;
	font-size:11px;
}
.notifications .note {
	display:inline-block;
	max-width:240px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}



/***** DATETIME PICKER CUSTOM SETTINGS, SEE templates/datetime-picker-example.html FOR BRAND/CODE GUIDELINES *****/
.datepicker div table thead tr th {

	border: 0px;
	padding-bottom: 5px !important;
	text-transform: none !important;
	border-collapse: collapse !important;
	font-size: 14px;
}

.datepicker tbody > tr > td{
	border: none !important;
}
.datepicker div table thead tr th {
	border: 0px;
	padding-bottom: 5px !important;
	text-transform: none !important;
	border-collapse: collapse !important;
	font-size: 14px;
}

/* here's the money section for defining widths for our date/time pickers */
.input-group.datepicker-date {
	width:130px;
	min-width:130px;
	max-width:130px;
}
.input-group.datepicker-datetime {
	width:190px;
	min-width:190px;
	max-width:190px;
}





.file-upload {
	width: 0.1px;
	height: 0.1px;
	overflow: hidden;
	opacity: 0;
	z-index: -1;
	position: absolute;
}

 


#remote-warnings img {
	height:20px;
}
.slider-frame.warning {
  background-color: #f0ad4e;
}
.slider-frame.primary {
  background-color: #357ebd;
}

h1 a, h2 a, h3 a {
	text-decoration:none;
	color:black;
}

.loader {
	display: none;
    margin: auto;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: rgba(128, 128, 128, 0.8);
    z-index:3101;
}
.loader div {
    position: absolute;
    top: 30%;
    width: 100%;
    z-index:3102;
}
.loader div, .loader div h1, .loader div h2, .loader div h3, .loader div h4 {
    color: #fff;
}

.highlight-selected {
	font-weight:bold;
}
.margin-10 {
	margin-top:10px;
}

#image-modal img {
	width:100%;
}

#btn-range-options {
	width:36px;
	position:relative;
}
#date-ranges {
   width:480px;
   height:30px;
   padding:0px;
   left:32px;
   top:0px;
   position:absolute;
   text-align:left;
   z-index:1001;
}
.date-options:hover {
   /*background:#eee;*/
}


.navbar-nav {
	z-index:1003;
}
.fa-nav {
	font-size:10px;
	padding-left:10px;
	margin-bottom:0;
	padding-bottom:0;
}
.fa-nav li {
	display:table-cell;
	padding-right:25px;
}
/* fixes a bootstrap bug I was experiencing when hovering over a button in a .btn-group */
.btn-group .btn {
	margin-left:-1px !important;
}
.btn-group-bids .btn {
	background:transparent;
}
.btn-group-bids .btn-expdate .calendar-text {
	color:#000;
	font-size:0.6em;
}
.btn-expdate {
	border:0;
	padding:0;
}
.btn-expdate.fa-lg {
	font-size:1.5em;
}
.btn-expdate.fa-stack {
	height:1.66666666em;
	line-height:1.66666666em;
}
.btn-expdate .fa-stack-2x {
	font-size:1.6666666em;
}

@media (max-width: 1320px) {
  .navbar-nav .hidden-xs.hidden-sm span {
	display:none;
/*
	width:50px;
	overflow:hidden;
	white-space: nowrap;
*/
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .navbar-header {
	width:100%;
  }
  .navbar-toggle {
    display: block !important;
  }
}
@media (min-width: 992px) {
  .navbar-toggle {
    display: none;
  }
}
@media screen and (max-width: 520px) {
  .search-form .search-group {
	width:140px;
  }
}



/***** CONTENT BOX (FROM ARTIFICIAL REASON) *****/
.icon-ar {
  width: 40px;
  height: 40px;
  font-size: 18px;
  background-color: #6695e2;
  color: #fff;
  border-radius: 2px;
  display: inline-block;
  margin: 0 5px 5px 0;
  text-align: center;
  line-height: 2.2;
}
.icon-ar.icon-ar-square {
  border-radius: 0;
}
.icon-ar.icon-ar-round {
  border-radius: 5px;
}
.icon-ar.icon-ar-circle {
  border-radius: 100px;
}
.icon-ar.icon-ar-inverse {
  background-color: transparent;
  color: #6695e2;
  border: solid 1px #6695e2;
}
.icon-ar.icon-ar-inverse.icon-ar-no-border {
  width: auto;
  height: auto;
  line-height: 1;
  border: none;
  font-size: 60px;
}
.icon-ar.icon-ar-sm {
  width: 32px;
  height: 32px;
  font-size: 16px;
  line-height: 2;
}
.icon-ar.icon-ar-lg {
  width: 50px;
  height: 50px;
  font-size: 22px;
  line-height: 2.2;
}
.icon-ar.icon-ar-xl-lg {
  width: 80px;
  height: 80px;
  font-size: 36px;
  line-height: 2.2;
}
.icon-ar.icon-ar-xxl-lg {
  width: 120px;
  height: 120px;
  font-size: 48px;
  line-height: 2.6;
}
.icon-ar.icon-ar-white {
  background-color: #fff;
  color: #6695e2;
}
.icon-ar.icon-ar-white.icon-ar-inverse {
  background-color: transparent;
  color: #fff;
  border: solid 1px #fff;
}
.icon-ar.icon-ar-danger {
  background-color: #d9534f;
}
.icon-ar.icon-ar-warning {
  background-color: #f0ad4e;
}
.icon-ar.icon-ar-success {
  background-color: #02c66c;
}
.icon-ar.icon-ar-info {
  background-color: #54c8eb;
}
.icon-ar.icon-ar-help {
  background-color: #ac60d0;
}
.icon-ar.icon-ar-black {
  background-color: #333;
}
.icon-ar.icon-ar-inverse.icon-ar-white {
  background-color: transparent;
  color: #fff;
  border-color: #fff;
}
.icon-ar.icon-ar-inverse.icon-ar-danger {
  background-color: transparent;
  color: #d9534f;
  border-color: #d9534f;
}
.icon-ar.icon-ar-inverse.icon-ar-warning {
  background-color: transparent;
  color: #f0ad4e;
  border-color: #f0ad4e;
}
.icon-ar.icon-ar-inverse.icon-ar-success {
  background-color: transparent;
  color: #02c66c;
  border-color: #02c66c;
}
.icon-ar.icon-ar-inverse.icon-ar-info {
  background-color: transparent;
  color: #54c8eb;
  border-color: #54c8eb;
}
.icon-ar.icon-ar-inverse.icon-ar-help {
  background-color: transparent;
  color: #ac60d0;
  border-color: #ac60d0;
}
.icon-ar.icon-ar-inverse.icon-ar-black {
  background-color: transparent;
  color: #333;
  border-color: #333;
}
a > .icon-ar.icon-ar-inverse:hover {
  background-color: #6695e2;
  color: #fff;
}
.table-striped-primary > tbody > tr:nth-child(odd) > td,
.table-striped-primary > tbody > tr:nth-child(odd) > th {
  background-color: #6695e2;
  color: #fff;
}
.content-box {
  display: block;
  text-align: center;
  overflow: hidden;
  padding: 4px !important;
}
.content-box.box-default {
  background-color: #dfdfdf;
  border: solid 1px #6695e2;
}
.content-box.box-default:hover {
  background-color: #dddddd;
}
.content-box.box-default p,
.content-box.box-default ul li {
  color:#444;
}
.content-box.box-default h5, .content-box.box-default h5 a,
.content-box.box-default h4, .content-box.box-default h4 a,
.content-box.box-primary .content-box-title,
.content-box.box-info .content-box-title,
.content-box.box-success .content-box-title,
.content-box.box-warning .content-box-title,
.content-box.box-danger .content-box-title,
.content-box.box-royal .content-box-title {
  color: #000;
}
.content-box.box-default .btn-action {
  margin-left:4px;
  margin-right:4px;
  padding:2px 24px;
}
.content-box-title.counter {
  font-size: 3em;
  color: #333;
  margin-top: 0;
}
.content-box.box-primary {
  background-color: #c37744;
  color: #fff;
  border: solid 1px #245ebe;
}
.content-box.box-success {
  background-color: #02c66c;
  color: #fff;
  border: solid 1px #016135;
}
.content-box.box-info {
  background-color: #54c8eb;
  color: #fff;
  border: solid 1px #179bc2;
}
.content-box.box-warning {
  background-color: #f0ad4e;
  color: #fff;
  border: solid 1px #c77c11;
}
.content-box.box-danger {
  background-color: #d9534f;
  color: #fff;
  border: solid 1px #a02622;
}
.content-box.box-royal {
  background-color: #ac60d0;
  color: #fff;
  border: solid 1px #792e9c;
}
.content-box.box-primary:hover {
  background-color: #5186de;
}
.content-box.box-success:hover {
  background-color: #02ad5e;
}
.content-box.box-info:hover {
  background-color: #3dc1e8;
}
.content-box.box-warning:hover {
  background-color: #eea236;
}
.content-box.box-danger:hover {
  background-color: #d43f3a;
}
.content-box.box-royal:hover {
  background-color: #a24cca;
}


/* ICON-AR STYLES COPIED FROM ARTIFICIAL REASON */
.text-icon {
  margin-bottom: 30px;
  overflow: hidden;
}
.text-icon .icon-ar {
  float: left;
  margin-top: 5px;
}
.icon-ar {
  width: 40px;
  height: 40px;
  font-size: 18px;
  background-color: #0099da;
  color: #fff;
  border-radius: 2px;
  display: inline-block;
  margin: 0 5px 5px 0;
  text-align: center;
  line-height: 2.2;
}
.icon-ar.icon-ar-square {
  border-radius: 0;
}
.icon-ar.icon-ar-round {
  border-radius: 5px;
}
.icon-ar.icon-ar-circle {
  border-radius: 100px;
}
.icon-ar.icon-ar-inverse {
  background-color: transparent;
  color: #0099da;
  border: solid 1px #0099da;
}
.icon-ar.icon-ar-inverse.icon-ar-no-border {
  width: auto;
  height: auto;
  line-height: 1;
  border: none;
  font-size: 60px;
}
.icon-ar.icon-ar-sm {
  width: 32px;
  height: 32px;
  font-size: 16px;
  line-height: 2;
}
.icon-ar.icon-ar-lg {
  width: 50px;
  height: 50px;
  font-size: 22px;
  line-height: 2.2;
}
.icon-ar.icon-ar-xl-lg {
  width: 80px;
  height: 80px;
  font-size: 36px;
  line-height: 2.2;
}
.icon-ar.icon-ar-xxl-lg {
  width: 120px;
  height: 120px;
  font-size: 48px;
  line-height: 2.6;
}
.icon-ar.icon-ar-white {
  background-color: #fff;
  color: #0099da;
}
.icon-ar.icon-ar-white.icon-ar-inverse {
  background-color: transparent;
  color: #fff;
  border: solid 1px #fff;
}
.icon-ar.icon-ar-danger {
  background-color: #d9534f;
}
.icon-ar.icon-ar-warning {
  background-color: #f0ad4e;
}
.icon-ar.icon-ar-success {
  background-color: #02c66c;
}
.icon-ar.icon-ar-info {
  background-color: #54c8eb;
}
.icon-ar.icon-ar-help {
  background-color: #ac60d0;
}
.icon-ar.icon-ar-black {
  background-color: #333;
}
.icon-ar.icon-ar-inverse.icon-ar-white {
  background-color: transparent;
  color: #fff;
  border-color: #fff;
}
.icon-ar.icon-ar-inverse.icon-ar-danger {
  background-color: transparent;
  color: #d9534f;
  border-color: #d9534f;
}
.icon-ar.icon-ar-inverse.icon-ar-warning {
  background-color: transparent;
  color: #f0ad4e;
  border-color: #f0ad4e;
}
.icon-ar.icon-ar-inverse.icon-ar-success {
  background-color: transparent;
  color: #02c66c;
  border-color: #02c66c;
}
.icon-ar.icon-ar-inverse.icon-ar-info {
  background-color: transparent;
  color: #54c8eb;
  border-color: #54c8eb;
}
.icon-ar.icon-ar-inverse.icon-ar-help {
  background-color: transparent;
  color: #ac60d0;
  border-color: #ac60d0;
}
.icon-ar.icon-ar-inverse.icon-ar-black {
  background-color: transparent;
  color: #333;
  border-color: #333;
}
a > .icon-ar.icon-ar-inverse:hover {
  background-color: #0099da;
  color: #fff;
}

.right-line {
  position: relative;
  z-index: 1;
  overflow: hidden;
  color: #000;
  margin: 30px 0;
}
.right-line:after {
  position: absolute;
  top: 55%;
  overflow: hidden;
  width: 100%;
  height: 1px;
  content: '\a0';
  background-color: #ddd;
  border-left: solid 20px #f7f7f7;
}
