body {
	height:100%;
}
.table tr th,
.table tr td {
	font-size:12px;
}

/***BX Slider Possible Fix *****/
.imageSliderBody .bx-viewport {
	min-height: 435px !important;
}

.product-img img {
	cursor: pointer;
}

/*** NAVBAR ***/
.navbar {
	position:fixed;
	top:0px;
	width:100%;
	z-index:1003;
	border:1px solid transparent;
}
.navbar .logo {
	margin:4px 18px;
	float:left;
}
.navbar .logo img {
	height:36px;
}
.navbar-inverse {
	border:0px;
	min-height:46px;
}
.navbar-inverse input.search {
	width:400px;
}
.navbar-nav {
	z-index:1003;
}

.navbar-collapse {
	padding: 0;
}

.remove-pad {
	padding: 0;
}

.navbar-inverse .navbar-nav {
	padding: 0;
}

.navbar-inverse .navbar-nav > .active > a {
	font-weight:bold;
	background-color:#ddd;
	color:#222;
	border-top:0px;
	border-bottom:0px;
	border-left:1px inset #080808;
	border-right:1px inset #080808;
	/* border-radius:10px 10px 0px 0px; */
}
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
	background-color:#eee;
	color:#111;
	border-top:0px;
	border-bottom:0px;
	border-left:1px inset #181818;
	border-right:1px inset #181818;
}

.table-header {
	z-index:1001;
	background-color:#ddd;
	position:fixed;
	top:45px;
	box-shadow: 2px 1px 2px #888888;
}

.dropdown-mega {
	min-width: 400px;
}

.table-filter {
	padding-right:12px;
}
.table-filter {
	height:48px;
}
div.table-filter div {
	margin-top:8px;
}

.input-xs {
  height: 24px;
  padding: 3px 4px 3px 6px !important;
  font-size: 12px !important;
  line-height: 1.3;
  border-radius: 3px;
}
.input-xxs {
  height:12px;
  padding: 0px 0px !important;
  font-size: 9px !important;
  line-height:1;
  border:1px solid transparent;
  width:50px;
  cursor:pointer;
  border-radius:2px;
}
.input-xxs:hover {
  border:1px solid #ddd;
}
select.input-sm {
  padding-left:5px;
}

/*.sub-nav #pad-wrapper {*/
#pad-wrapper {
	margin-top:120px;
}

.input-primary {
	border-color:#357ebd;
}

.item-notes, label {
	cursor:pointer;
}


/***** MODAL NOTES DIALOG BOX *****/
.modal-notes {
/*
	display:none;
	visibility:hidden;
	z-index:1000;
	height:300px;
	overflow:visible;
	position:absolute;
*/
}
.modal-notes .modal-footer {
	text-align:left !important;
}
.modal-notes .modal-header, .modal-footer {
	padding:8px;
}
.modal-notes .modal-body, .modal-notes .modal-body .table {
	margin:0px;
	padding:0px;
}
.modal-notes .modal-body {
	height:200px;
	overflow:scroll;
}
.modal-notes .modal-header {
	width:100%;
}
.modal-notes .notes-body .notes-text {
	width:100%;
}

/* save button positioned within textarea */
.modal-notes .notes-body {
	position:relative;
}
.modal-notes .notes-body .btn-notes {
	position:absolute;
	bottom:1px;
	right:1px;
}
/* end save button */

/***** END MODAL NOTES DIALOG BOX *****/

.source {
	float:right;
	font-style:italic;
}
.word-wrap160 {
	max-width:160px;
	word-wrap:break-word;
}

.tooltip-inner {
	color:#000;
	background-color:#eee;
	border:1px solid #aaa;
	box-shadow: 1px 1px 1px #999;
}
.tooltip.left .tooltip-arrow {
	border-left-color:#aaa;
}
.tooltip.right .tooltip-arrow {
	border-right-color:#aaa;
}
.tooltip.top .tooltip-arrow {
	border-top-color:#aaa;
}
.tooltip.bottom .tooltip-arrow {
	border-bottom-color:#aaa;
}

.table-products .table .first td > div,
.table-products .table .descr-row > div {
	vertical-align:top;
	padding:0px;
}
.table .first .qty, .parts-container .qty {
	vertical-align:top !important;
	padding:0px;
}
.table-products .table td a {
	margin-top:0px;
}
.product-img, .product-descr, .first .qty, .first .price, .table .product-action, .table .first .product-action div {
	font-size:11px;
	display:inline-block;
}
.table-products .table input[type="checkbox"] {
	margin:0;
	margin-right:4px;
}
.table .product-action div input[type="checkbox"] {
	position:relative;
	/*top:-8px;*/
}
.table-wrapper .table input[type="checkbox"] {
	margin-top:2px;
	float:none;
}
div.valign-top,
.table tr.valign-top td,
.table .first,
.table .first .product-action div {
	vertical-align:top !important;
}
.table .first {
	/*height:50px;*/
}
.table .product-action {
	vertical-align:top;
	width:48px;
	padding:0px;
	margin:0px;
}
.table .first .product-action {
	height:24px;
}
.table .product-results .product-action .action-box {
	height:22px;
}
.table .product-results .product-action .action-box input[type="checkbox"] {
	/*margin-top:6px;*/
	/*left:37%;*/
}
.slider-box {
	position:relative;
}
.slider-box .slider-frame {/*.toggle-results {*/
	z-index:1000;
	position:absolute;
	top:6px;
	right:4px;
	height:16px;
	width:60px;
}
.slider-box .slider-frame .slider-button {
	height:16px;
	line-height:16px;
	width:44px;
}
.slider-box .slider-frame .slider-button.on {
	margin-left:16px;
}

.table .first .action-items {
	margin-left:5px;
	margin-top:-5px;
}
.table .first .btn-group.btn-resultsmode.action-items {
	margin-top:0px;
	margin-bottom:-2px;
}
.table tr .action-hover .action-items {
	visibility:hidden;
}
.table tr:hover .action-hover .action-items {
	visibility:visible;
}

.table .first .action-items {
	visibility:hidden;
}
.table .first:hover .action-items {
	visibility:visible;
}

.table .bg-availability .action-items {
	visibility:hidden;
}
.table .bg-availability:hover .action-items {
	visibility:visible;
}

/*
.action-items a {
	margin:0px;
}
.table tr .action-hover .action-items {
	display:none;
}
.table tr:hover .action-hover .action-items {
	display:block;
}
*/

.first .product-descr {
	margin-left:12px;
}
.product-img {
	margin-top:2px;
    margin-right: 12px;
	background:white;
    border: 1px solid #dfe4eb;
	vertical-align:top;
}
.descr-row .product-img {
    margin-right: 0;
}
.product-img .img {
    height: 28px;
    width: 28px;
    text-align: center;
	border:0px;
}
.product-img .img, .table-products .table .img {
	margin:3px;
}
.product-descr a {
	padding:0px;
	margin:0px;
}
.table .product-descr {
	max-width:340px;
}
.product-descr .descr-edit input {
	height: 20px;
	padding: 2px 3px 2px 4px !important;
	font-size: 11px !important;
	line-height: 1.1;
}
.desc_second_line { 
	font-size:10px;
	color:#aaa;
}
.search_lines:nth-child(odd){
    background-color:#eff0f6;
}
.product-descr .description, .product-descr .description .descr-edit input {
	font-size:10px;
	color:#aaa;
}
.table-products .table .product-search {
	border:0px;
	background-color:transparent;
	font-weight:bold;
}
.table .product-search {
	border:0px;
	background-color:transparent;
	font-weight:bold;
}
.descr-row {
	height:48px !important;
}

.table-products .table .market-row {
	padding:0px;
	vertical-align:top !important;
}
.table-hover > tbody > tr > td.warning.nohover:hover,
.table-hover > tbody > tr.warning.nohover:hover > td {
	background:#fcf8e3 !important;
}
.qty-header {
	padding-left:64px;
	padding-right:20px;
}
.first {
	border-bottom:1px solid #ccc;
	background-color:#eff0f6;
    background: -webkit-linear-gradient(#eff0f6, #eaeaea); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#eff0f6, #eaeaea); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#eff0f6, #eaeaea); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#eff0f6, #eaeaea); /* Standard syntax */
}
.product-results .qty {
	font-weight:bold;
	vertical-align:middle;
	margin:4px 12px 4px 4px;
	display:inline-block;
}
.search-qty {
	width:40px;
	margin-left:4px;
	font-weight:bold;
}
.product-results .price .btn i {
	color:#aaa;
}
/*.price-header, .product-results .price {
	padding-right:5px;
	display:inline-block;
	text-align:right;
	float: right;
}*/
.price-header, .product-results .descr-row .price {
	float:right;
}
.product-results .product-actions .price {
	/*float:left;*/
}
.price .form-group input {
	text-align:right;
	cursor:pointer;
}
.form-group .input-group.sell, .form-group .input-group.buy, .form-group.target {
	width:90px;
}
.form-group .input-group-btn .btn {
	padding-left:7px;
	padding-right:7px;
}
.form-group .input-group.sell {
	border:1px solid #468847;
	border-radius:4px;
}
.form-group .input-group.sell:focus {
	border-color:#356635;
}
.form-group .input-group.buy {
	border:1px solid #b94a48;
	border-radius:4px;
}
.form-group .input-group.buy:focus {
	border-color:#953b39;
}
.form-group .input-group.sell .input-group-btn .btn, .form-group .input-group.buy .input-group-btn .btn {
	border:0px;
}
.form-group .input-group.sell input, .form-group .input-group.buy input {
	border:0px;
}
.form-group .input-group-btn .btn-xs {
	padding:1px 2px 3px 6px;
}
.btn.icon {
	margin-left:4px;
	margin-right:4px;
}
.product-results .form-group input.form-control {
	padding-left:3px;
	padding-right:3px;
}
.field-box {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 0;
	float: left;
	width: 100%;
}
.label-box {
	display:inline-block;
	font-size:8px;
	width:34px;
	padding-left:2px;
	padding-right:2px;
	margin-right:2px;
}
.inline-form.order-form .field-box textarea {
	width:60%;
}
input[type="text"].inline {
	background:transparent !important;
	border:0px !important;
}


#loading-bar {
	background:#f4efd4;
	width:200px;
	height:36px;
	position:fixed;
	left:45%;
	top:0px;
	z-index:3001;
	color:black;
	text-align:center;
	border-radius:0px 0px 3px 3px;
	border:1px solid #e0e0e0;
	box-shadow: 2px 3px 2px #888;
	padding:4px;
	font-size:14px;
	display:none;
}

.full_drop{
	padding-left: 2px;
	
}

.search-form .search-group {
	width:320px;
	margin:6px 36px;
	margin:6px auto;
	z-index:1003;
}
.search-center {
	height:0;
	overflow:visible;
	width:100%;
	margin:auto;
	position:absolute;
	text-align:center;
}
#s, .product-search, .upper-case, .descr-edit input {
	text-transform:uppercase;
}
.product-search {
	width:100%;
}


/***** ADVANCED SEARCH OPTIONS *****/
#advanced-search-options {
	position:fixed;
	top:46px;
	width:100% !important;
	margin-left:auto !important;
	margin-right:auto !important;
	text-align:center;
	z-index:1002;
	background-color:rgba(0, 0, 0, 0.8);
	box-shadow: 2px 3px 2px #888;
}
/*
.sub-nav #advanced-search-options {
	position:absolute;
	top:-72px;
}
*/
#advanced-search-options.animated {
	-webkit-animation-duration: .3s;
	-o-linear-animation-duration: .3s;
	-moz-animation-duration: .3s;
}
#advanced-search-options div textarea {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
	width:100%;
}
#advanced-search-options div p, #advanced-search-options .options-group label {
	color:#fff !important;
}
#advanced-search-options div p input {
	margin-right:8px;
}
#advanced-search-options div {
	margin:0px;
	padding:0px;
}
#advanced-search-options .options-group.text-left > div {
	padding-left:12px;
}
#advanced-search-options .options-group > div {
	margin-top:8px;
	margin-bottom:8px;
}
#advanced-search-options .options-group > div.lists-manager {
	background-color:#555;
}
#advanced-search-options .options-group div label {
	padding-bottom:0px;
	margin-bottom:0px;
}
#advanced-search-options .options-group p {
	margin-top:4px;
	margin-bottom:4px;
}

#advanced-search-options .btn-submit {
	position:absolute;
	bottom:-1px;
	right:-1px;
}


.alert i.fa {
	vertical-align:middle;
}
.alert-default {
	background-color:#fff;
	border-color:#cfcfcf;
	text-transform:uppercase;
}

/***** HEADER TAGS WITH LEADING AND TRAILING LINES *****/
.header-border {
	position: relative;
	top:6px;
    border-top: 1px solid #fff;
	height:14px;
	overflow:visible;
}
.header-border h1,
.header-border h2,
.header-border h3,
.header-border h4,
.header-border h5,
.header-border h6 {
    position: absolute;
    top: -12px;
	padding: 0px 10px;
    display: inline-block;
	background-color: #303030;
}

/***** FREEFORM TEXTAREAS *****/
textarea.freeform-text {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
	width:100%;
	background:none;
	border:0px;
	min-height:400px;
}

.company-selector {
	width:280px;
	max-width:70%;
}
.manf-selector {
	width:180px;
}
.lists-selector {
	width:340px;
}
.system-selector {
	width:180px;
}
.location-selector {
	min-width:150px;
}
.col-location .select2-container {
	width:150px !important;
}
.parts-selector {
	width:100%;
}

.business-icon {
	float:left;
	padding-right:20px;
}
.name {
	padding-top:8px !important;
	margin-top:0px !important;
}

/*** PROFILE PAGE ***/
.user-profile .header {
	vertical-align:top;
}
.profile-box table tr td, .profile-body .row > div > .form-group {
	vertical-align:top !important;
}
.terms-select2.terms-type {
	width:160px;
}
.terms-select2.terms-selections {
}
.terms-section {
	padding-top:20px;
	padding-bottom:20px;
	border-top:1px solid #ddd;
	border-bottom:1px solid #ddd;
	background-color:#eee;
}


/*** MARKET MANAGER ***/
.market-table {
	font-size:11px;
}
.market-results {
	position:absolute;
	overflow:hidden;
	width:100%;
}
.market-table td {
	height:140px;
	min-height:140px;
	white-space:nowrap;
}

.market-table .bg-sales .market-body, .market-table .bg-demand .market-body, .market-table .bg-purchases .market-body, .market-table .bg-repair .market-body, .market-table .bg-availability .market-body {
	height:80%;
	width:100%;
	overflow:hidden;
	display:block;
	position:absolute;
}

@media only screen and (min-width: 768px) {
	.market-table .bg-sales:hover .market-body, .market-table .bg-demand:hover .market-body, .market-table .bg-purchases:hover .market-body, .market-table .bg-repair:hover .market-body, .market-table .bg-availability:hover .market-body  {
		padding:4px;
		height:100%;
		width:120%;
		background:inherit;
		overflow-y:scroll;
		border:1px solid #ccc;
		box-shadow: 2px 1px 2px #888888;
		z-index:999;
	}
}

@media only screen and (max-width: 767px) {
	.market-table .bg-sales .market-body, .market-table .bg-demand .market-body, .market-table .bg-purchases .market-body, .market-table .bg-repair .market-body {
		height: auto !important;
		overflow: visible;
		position: relative;
	}

	.market-table {
	    height: auto !important;
	}
}

.market-table .summary * {
	color:#555 !important;
	font-weight:normal;
}
.market-table .archives * {
	color:#999 !important;
	font-weight:normal;
	font-style:italic;
}

.market-table .market-results {
	height:86%;
	overflow:hidden;
	width:140%;
	background:white;
}
.market-table .bg-availability:hover .market-results, .market-table .bg-demand:hover .market-results {
	padding:4px;
	height:120%;
	width:140%;
	border:1px solid #ccc;
	overflow-y:scroll;
	box-shadow: 2px 1px 2px #888888;
	z-index:999;
}
.market-table hr {
	margin:8px 0px;
}
.market-table tr td, .market-table tr:hover td {
	vertical-align:top !important;
}
.market-table tr:hover td.price {
	background-color:#fff;
}
.market-table tr:hover td.bg-demand, .bg-demand, .bg-demand:hover {
	background-color:#fff;
}
.market-table tr:hover td.bg-availability, .bg-availability, .bg-availability:hover {
	background-color:#fff;
}
.market-table tr:hover td.bg-sales, .bg-sales, .bg-sales:hover {
	background-color:#f7fff0;
    background: -webkit-linear-gradient(#f7fff0, #fff); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#f7fff0, #fff); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#f7fff0, #fff); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#f7fff0, #fff); /* Standard syntax */
}
.market-table tr:hover td.bg-purchases, .bg-purchases, .bg-purchases:hover {
	background-color:#f5dfba;
    background: -webkit-linear-gradient(#f5dfba, #fff); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#f5dfba, #fff); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#f5dfba, #fff); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#f5dfba, #fff); /* Standard syntax */
}
.market-table tr:hover td.bg-repair, .bg-repair, .bg-repair:hover {
	background-color:#d9edf7;
    background: -webkit-linear-gradient(#d9edf7, #fff); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#d9edf7, #fff); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#d9edf7, #fff); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#d9edf7, #fff); /* Standard syntax */
}

#market-results {
	line-height:10px;
}
.market-data, .date-group {
	vertical-align:top !important;
	text-align:left;
	font-size:10px;
	line-height:10px;
	padding:0px;
	margin:0px;
	margin-bottom:2px;
}
.market-data > a, .date-group a, .modal-results {
	padding:0px !important;
	margin:0px !important;
	text-decoration:none !important;
}
.pa {
	color:#000;
}
.market-data > .pa {
	vertical-align:top !important;
	display:inline-block;
	width:14px;
	color:#555;
}
.market-data.strikeout, .market-data.strikeout a, .market-data.strikeout > .pa {
	color:#555 !important;
	text-decoration: line-through !important;
}
.market-company {
	min-width:80px;
	max-width:110px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}
.market-table .bg-demand:hover .market-company {
	overflow:visible;
	max-width:120px;
}
.market-title {
	padding:0px 0px 4px 0px !important;
	margin:0px !important;
}
.market-download {
	padding:0px !important;
	margin:0px !important;
}
.marketpricing-toggle, .marketpricing-toggle i {
	padding:0px !important;
	margin:0px !important;
}
#marketModal .modal-body {
	font-size:11px;
	height:400px;
	overflow:scroll;
}
#marketModal .message-body {
	width:100%;
}
#marketModal .modal-body .company-name {
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}
#marketModal .modal-body .row div {
	white-space:nowrap;
}
.modal-striped .row {
  line-height:24px;
}
.modal-striped .row:nth-child(even) div {
  background-color: #ffffff;
}
.modal-striped.modal-hover .row:hover:nth-child(even) div {
  background-color: #fcfcfc;
}
.modal-striped .row:nth-child(odd) div {
  background-color: #f5f5f5;
}
.modal-striped.modal-hover .row:hover:nth-child(odd) div {
  background-color: #f3f3f3;
}
.table-striped tr:nth-child(even) th.primary,
.table-striped tr:nth-child(odd) th.primary,
.table-striped tr:nth-child(even) td.primary,
.table-striped tr:nth-child(odd) td.primary {
  background-color: #f3f3f3;
}
.table-striped tr:hover:nth-child(even) td.primary,
.table-striped tr:hover:nth-child(odd) td.primary {
  background-color: #f6f6f6;
}
.table-striped > tbody > tr > .bg-danger,
.table-striped > tbody > .bg-danger > td,
.table-striped > tbody > .bg-danger > th {
  background-color: #f2dede !important;
}



.date-group {
	font-weight:normal;
	color:#666;
	text-align:left;
}
.bot-icon {
	height:10px;
	vertical-align:middle;
	margin-bottom:2px;
}
a.fa {
	text-decoration:none !important;
}
/*.fa-chevron-up {*/
/*	color:#20cb27;*/
/*}*/
/*.fa-chevron-down {*/
/*	color:#cb2027;*/
/*}*/
.fa-circle-o {
	color:transparent;
}
.options-toggle.fa-sort-asc {
	vertical-align:bottom;
}

/*.first .row > div {*/
.header-text {
	font-weight:bold;
}
.info {
	font-weight:normal;
	color:#999;
}
tr.info td, td.info {
	background-color:#d9edf7 !important;
}
tr.info:hover td, td.info:hover {
	background-color:#e9fbff !important;
}
.info.em {
	font-style:italic;
}


/***** DROPDOWN MENU *****/

.table-wrapper .table td .dropdown {
	display:inline;
}
.table-wrapper .table td .dropdown-menu > li > a {
	text-decoration:none;
	display:block;
}

/***** END DROPDOWN MENU *****/


/***** NOTIFICATIONS *****/
.pop-dialog .body {
	padding:10px 10px 0px 10px;
}
.navbar-inverse .notification-dropdown .count {
	background:#b94a48;
}
.notification-dropdown {
	text-align:left;
}
.notifications {
	width:400px;
}
.notifications .item {
	padding-left:0px !important;
}
.notifications .item.unread {
	background-color:#fffff5;
}
.notifications .item.unread .time {
	color:#b94a48;
}
.notifications .item.unviewed {
	background-color:#f3f7fa;
}
.notifications .item .user {
	width:60px;
	display:block;
	float:left;
	padding-left:10px;
	padding-right:20px;
}
.notifications .item .user.fa-stack .user-text {
	text-align:center;
	margin-top:10px;
	margin-left:auto;
	margin-right:auto;
	font-size:11px;
}
.notifications .note {
	display:inline-block;
	max-width:240px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}


.table thead.no-border {
	border:0px;
}


/***** DATETIME PICKER CUSTOM SETTINGS, SEE templates/datetime-picker-example.html FOR BRAND/CODE GUIDELINES *****/
.datepicker div table thead tr th {

	border: 0px;
	padding-bottom: 5px !important;
	text-transform: none !important;
	border-collapse: collapse !important;
	font-size: 14px;
}

.datepicker tbody > tr > td{
	border: none !important;
}
.datepicker div table thead tr th {
	border: 0px;
	padding-bottom: 5px !important;
	text-transform: none !important;
	border-collapse: collapse !important;
	font-size: 14px;
}

/* here's the money section for defining widths for our date/time pickers */
.input-group.datepicker-date {
	width:130px;
	min-width:130px;
	max-width:130px;
}
.input-group.datepicker-datetime {
	width:190px;
	min-width:190px;
	max-width:190px;
}




 


#remote-warnings img {
	height:20px;
}
.slider-frame.warning {
  background-color: #f0ad4e;
}
.slider-frame.primary {
  background-color: #357ebd;
}

h1 a, h2 a, h3 a {
	text-decoration:none;
	color:black;
}
h1.minimal, h2.minimal, h3.minimal, h4.minimal {
	line-height:1;
	margin:0px;
	padding:0px;
}
hr.no-margin {
	margin:0px;
}

.loader {
	display: none;
    margin: auto;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: rgba(128, 128, 128, 0.8);
    z-index:3101;
}
.loader div {
    position: absolute;
    top: 30%;
    width: 100%;
    z-index:3102;
}
.loader div, .loader div h1, .loader div h2, .loader div h3, .loader div h4 {
    color: #fff;
}

.highlight-selected {
	font-weight:bold;
}
.margin-10 { margin-top:10px; }
.margin-20 { margin-top:20px; }
.margin-40 { margin-top:40px; }
.margin-80 { margin-top:80px; }
.margin-120 { margin-top:120px; }
.margin-bottom-220 { margin-bottom:220px; }


/*** FILE UPLOADER / DROPZONE ***/

.dropzone {
	min-height:200px;
	border:2px dashed #357ebd;
}
.file-upload {
	width: 0.1px;
	height: 0.1px;
	overflow: hidden;
	opacity: 0;
	z-index: -1;
	position: absolute;
}

/*** BXSLIDER/MODAL IMAGE HANDLING ***/
.imageSlider {
	text-align:center;
	/*height:576px;*/
}
.imageSliderBody {
	height:500px;
	max-height:500px;
	overflow:auto;
	margin-bottom:10px;
}
#image-modal .modal-dialog {
	width:800px;
}
.bx-wrapper {
	width:590px;
	max-width:590px;
}
.bx-wrapper .bx-viewport .bxslider {
	padding:0px;
}
.bx-wrapper .bx-viewport .bxslider li img {
	text-align:center;
	width:100%;
}
#imagePager {
	/*height:86px;*/
}
#imagePager a {
	border:1px solid gray;
    display: inline-block;
    padding: 3px;
}
#imagePager a img {
	height:60px;
}
.imageTools {
	display:inline-block;
}
.imageTools p {
	height:20px;
	padding:0 !important;
	text-align:center;
	margin:0 !important;
}
.imageTools p a,
.imageTools p span.a {
	border:0 !important;
	cursor:pointer;
}



/*** FONT AWESOME CUSTOMIZATIONS ***/

.fa-nav {
	font-size:10px;
	padding-left:10px;
	margin-bottom:0;
	padding-bottom:0;
}
.fa-nav li {
	display:table-cell;
	padding-right:25px;
}
.fa-stack-2x.fa-stack-lg {
	font-size:1.6666666em;
	height:1.33333333em;
	line-height:1.33333333em;
}
.fa-stack-2x.fa-stack-md {
	font-size:1.5em;
	height:1em;
	line-height:1.3333333em;
}
.fa-stack-sm, .fa-stack-xs {
	display:block;
	padding-top:15px;
	font-size:0.75em;
}
.fa-stack-sm {
	padding-left:2px;
	line-height:1.6666666em;
}
.fa-stack-xs {
	padding-left:0px;
	line-height:.8em;
}



/*** BUTTONS ***/
.btn.active {
	box-shadow: inset 0 3px 7px rgba(0, 0, 0, 0.7);
	border:1px inset #999;
}
/* fixes a bootstrap bug I was experiencing when hovering over a button in a .btn-group */
.btn-group .btn {
	margin-left:-1px !important;
}
.btn-group-bids .btn {
	background:transparent;
}
.btn-group-bids .btn-expdate .calendar-text {
	color:#000;
	font-size:0.6em;
}
.btn-expdate {
	border:0;
	padding:0;
}
.btn-expdate.fa-lg {
	font-size:1.5em;
}
.btn-expdate.fa-stack {
	height:1.66666666em;
	line-height:1.66666666em;
}
.btn-expdate .fa-stack-2x {
	font-size:1.6666666em;
}
#btn-range-options {
	width:36px;
	position:relative;
}
.btn-flat.btn-sm {
	padding:5px 10px !important;
	line-height:1.5 !important;
}
.btn-flat.gray {
	color:#fff;
}
.btn-narrow.btn-sm {
	padding:5px 6px !important;
}
.btn-brown {
	background-color:#ad683a;
	color:#fff;
}

#date-ranges {
   width:436px;
   height:30px;
   padding:0px;
   left:32px;
   top:0px;
   position:absolute;
   text-align:left;
   z-index:1001;
   background-color:#ccc;
}
.date-options:hover {
   /*background:#eee;*/
}
tr.strikeout td {
    position: relative;
    padding: 5px 10px;
}
tr.strikeout td,
tr.strikeout td a {
	color:#ccc;
}
tr.strikeout td:before {
    content: " ";
    position: absolute;
    top: 50%;
    left: 0;
    border-top: 1px solid #ccc;
    width: 100%;
}
tr.grayout td,
tr.grayout td a {
	color:#ccc;
}
.table-condensed thead > tr > th {
	padding-bottom:5px !important;
}
.table-condensed thead > tr > th.text-right {
	padding-right:15px !important;
}
.btn-default.inverse {
	color:#fff !important;
}
.btn-default.text-muted {
  color: #999999;
}
.btn-default.text-primary {
  color: #428bca;
}
.btn-default.text-warning {
  color: #c09853;
}
.btn-default.text-danger {
  color: #b94a48;
}
.btn-default.text-success {
  color: #468847;
}
.btn-default.text-info {
  color: #3a87ad;
}

.text-purple {
  color: #a235a2;
}
.btn-purple,
.btn-purple:hover {
  color: #fff;
  background-color: #a235a2;
}



@media (max-width: 1490px) {
  .navbar-nav .hidden-xs.hidden-sm span {
	display:none;
/*
	width:50px;
	overflow:hidden;
	white-space: nowrap;
*/
  }
}
@media (min-width: 768px) {
	.dropdown-menu-left {
	    /*right: auto !important;*/
	    right: -150px !important;
	    /*left: 0 !important;*/
	}
}
@media (min-width: 768px) and (max-width: 991px) {
  .navbar-header {
	width:100%;
  }
  .navbar-toggle {
    display: block !important;
  }
}
@media (min-width: 992px) {
	.navbar-toggle {
		display: none;
	}
}
/*@media screen and (max-width: 520px) {
  .search-form .search-group {
	width:140px;
  }
}
*/

@media (max-width: 992px) {
	.navbar-toggle {
		z-index: 999;
	}
	.navbar-collapse.collapse {
	    display: none !important;
	    height: 1px !important;
	    padding-bottom: 0;
	    overflow: hidden !important;
	}

	.navbar-nav > li {
	    float: none;
	}

	.navbar-nav {
	    float: none;
	    margin: 7.5px -15px;
	}

	.navbar-header {
	    float: none; 
	}

	.navbar-collapse {
	    border-top: 1px solid transparent;
	    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
	}
	.mobile-hide {
		display: none;
	}

	.bid-input {
		width: 100%;
	}
}

@media only screen and (max-width: 520px) {
	.logo{
		display: none;
	}

	.search-center {
		width: auto;
		position: relative;
	}

	.search-form .search-group {
		width: 100%;
		margin: 6px auto auto 6px;
	}
}

@media only screen and (max-width: 767px) {
	.phone-hide {
		display: none;
	}
}


/***** CONTENT BOX (FROM ARTIFICIAL REASON) *****/
.icon-ar {
  width: 40px;
  height: 40px;
  font-size: 18px;
  background-color: #6695e2;
  color: #fff;
  border-radius: 2px;
  display: inline-block;
  margin: 0 5px 5px 0;
  text-align: center;
  line-height: 2.2;
}
.icon-ar.icon-ar-square {
  border-radius: 0;
}
.icon-ar.icon-ar-round {
  border-radius: 5px;
}
.icon-ar.icon-ar-circle {
  border-radius: 100px;
}
.icon-ar.icon-ar-inverse {
  background-color: transparent;
  color: #6695e2;
  border: solid 1px #6695e2;
}
.icon-ar.icon-ar-inverse.icon-ar-no-border {
  width: auto;
  height: auto;
  line-height: 1;
  border: none;
  font-size: 60px;
}
.icon-ar.icon-ar-sm {
  width: 32px;
  height: 32px;
  font-size: 16px;
  line-height: 2;
}
.icon-ar.icon-ar-lg {
  width: 50px;
  height: 50px;
  font-size: 22px;
  line-height: 2.2;
}
.icon-ar.icon-ar-xl-lg {
  width: 80px;
  height: 80px;
  font-size: 36px;
  line-height: 2.2;
}
.icon-ar.icon-ar-xxl-lg {
  width: 120px;
  height: 120px;
  font-size: 48px;
  line-height: 2.6;
}
.icon-ar.icon-ar-white {
  background-color: #fff;
  color: #6695e2;
}
.icon-ar.icon-ar-white.icon-ar-inverse {
  background-color: transparent;
  color: #fff;
  border: solid 1px #fff;
}
.icon-ar.icon-ar-danger {
  background-color: #d9534f;
}
.icon-ar.icon-ar-warning {
  background-color: #f0ad4e;
}
.icon-ar.icon-ar-success {
  background-color: #02c66c;
}
.icon-ar.icon-ar-info {
  background-color: #54c8eb;
}
.icon-ar.icon-ar-help {
  background-color: #ac60d0;
}
.icon-ar.icon-ar-black {
  background-color: #333;
}
.icon-ar.icon-ar-inverse.icon-ar-white {
  background-color: transparent;
  color: #fff;
  border-color: #fff;
}
.icon-ar.icon-ar-inverse.icon-ar-danger {
  background-color: transparent;
  color: #d9534f;
  border-color: #d9534f;
}
.icon-ar.icon-ar-inverse.icon-ar-warning {
  background-color: transparent;
  color: #f0ad4e;
  border-color: #f0ad4e;
}
.icon-ar.icon-ar-inverse.icon-ar-success {
  background-color: transparent;
  color: #02c66c;
  border-color: #02c66c;
}
.icon-ar.icon-ar-inverse.icon-ar-info {
  background-color: transparent;
  color: #54c8eb;
  border-color: #54c8eb;
}
.icon-ar.icon-ar-inverse.icon-ar-help {
  background-color: transparent;
  color: #ac60d0;
  border-color: #ac60d0;
}
.icon-ar.icon-ar-inverse.icon-ar-black {
  background-color: transparent;
  color: #333;
  border-color: #333;
}
a > .icon-ar.icon-ar-inverse:hover {
  background-color: #6695e2;
  color: #fff;
}
.table-striped-primary > tbody > tr:nth-child(odd) > td,
.table-striped-primary > tbody > tr:nth-child(odd) > th {
  background-color: #6695e2;
  color: #fff;
}
.content-box {
  display: block;
  text-align: center;
  /*overflow: hidden;*/
  padding: 4px !important;
}
.content-box.box-default {
  background-color: #dfdfdf;
  border: solid 1px #6695e2;
}
.content-box.box-default:hover {
  background-color: #dddddd;
}
.content-box.box-default p,
.content-box.box-default ul li {
  color:#444;
}
.content-box.box-default h5, .content-box.box-default h5 a,
.content-box.box-default h4, .content-box.box-default h4 a,
.content-box.box-primary .content-box-title,
.content-box.box-info .content-box-title,
.content-box.box-success .content-box-title,
.content-box.box-warning .content-box-title,
.content-box.box-danger .content-box-title,
.content-box.box-royal .content-box-title {
  color: #000;
}
.content-box.box-default .btn-action {
  margin-left:4px;
  margin-right:4px;
  padding:2px 24px;
}
.content-box-title.counter {
  font-size: 3em;
  color: #333;
  margin-top: 0;
}
.content-box.box-primary {
  background-color: #ad683a;
  /*background-color: #c37744;*/
  color: #fff;
  border: solid 1px #245ebe;
}
.content-box.box-success {
  background-color: #02c66c;
  color: #fff;
  border: solid 1px #016135;
}
.content-box.box-info {
  background-color: #54c8eb;
  color: #fff;
  border: solid 1px #179bc2;
}
.content-box.box-warning {
  background-color: #f0ad4e;
  color: #fff;
  border: solid 1px #c77c11;
}
.content-box.box-danger {
  background-color: #d9534f;
  color: #fff;
  border: solid 1px #a02622;
}
.content-box.box-royal {
  background-color: #ac60d0;
  color: #fff;
  border: solid 1px #792e9c;
}
.content-box.box-primary:hover {
  background-color: #5186de;
}
.content-box.box-success:hover {
  background-color: #02ad5e;
}
.content-box.box-info:hover {
  background-color: #3dc1e8;
}
.content-box.box-warning:hover {
  background-color: #eea236;
}
.content-box.box-danger:hover {
  background-color: #d43f3a;
}
.content-box.box-royal:hover {
  background-color: #a24cca;
}
.operations-body .table-responsive {
    overflow-x: auto;
}


/* ICON-AR STYLES COPIED FROM ARTIFICIAL REASON */
.text-icon {
  /*margin-bottom: 30px;*/
  margin-bottom: 16px;
  overflow: hidden;
}
.text-icon .icon-ar {
  float: left;
  margin-top: 5px;
}
.icon-ar {
  width: 40px;
  height: 40px;
  font-size: 18px;
  background-color: #0099da;
  color: #fff;
  border-radius: 2px;
  display: inline-block;
  margin: 0 5px 5px 0;
  text-align: center;
  line-height: 2.2;
}
.icon-ar.icon-ar-square {
  border-radius: 0;
}
.icon-ar.icon-ar-round {
  border-radius: 5px;
}
.icon-ar.icon-ar-circle {
  border-radius: 100px;
}
.icon-ar.icon-ar-inverse {
  background-color: transparent;
  color: #0099da;
  border: solid 1px #0099da;
}
.icon-ar.icon-ar-inverse.icon-ar-no-border {
  width: auto;
  height: auto;
  line-height: 1;
  border: none;
  font-size: 60px;
}
.icon-ar.icon-ar-sm {
  width: 32px;
  height: 32px;
  font-size: 16px;
  line-height: 2;
}
.icon-ar.icon-ar-lg {
  width: 50px;
  height: 50px;
  font-size: 22px;
  line-height: 2.2;
}
.icon-ar.icon-ar-xl-lg {
  width: 80px;
  height: 80px;
  font-size: 36px;
  line-height: 2.2;
}
.icon-ar.icon-ar-xxl-lg {
  width: 120px;
  height: 120px;
  font-size: 48px;
  line-height: 2.6;
}
.icon-ar.icon-ar-white {
  background-color: #fff;
  color: #0099da;
}
.icon-ar.icon-ar-white.icon-ar-inverse {
  background-color: transparent;
  color: #fff;
  border: solid 1px #fff;
}
.icon-ar.icon-ar-danger {
  background-color: #d9534f;
}
.icon-ar.icon-ar-warning {
  background-color: #f0ad4e;
}
.icon-ar.icon-ar-success {
  background-color: #02c66c;
}
.icon-ar.icon-ar-info {
  background-color: #54c8eb;
}
.icon-ar.icon-ar-help {
  background-color: #ac60d0;
}
.icon-ar.icon-ar-black {
  background-color: #333;
}
.icon-ar.icon-ar-inverse.icon-ar-white {
  background-color: transparent;
  color: #fff;
  border-color: #fff;
}
.icon-ar.icon-ar-inverse.icon-ar-danger {
  background-color: transparent;
  color: #d9534f;
  border-color: #d9534f;
}
.icon-ar.icon-ar-inverse.icon-ar-warning {
  background-color: transparent;
  color: #f0ad4e;
  border-color: #f0ad4e;
}
.icon-ar.icon-ar-inverse.icon-ar-success {
  background-color: transparent;
  color: #02c66c;
  border-color: #02c66c;
}
.icon-ar.icon-ar-inverse.icon-ar-info {
  background-color: transparent;
  color: #54c8eb;
  border-color: #54c8eb;
}
.icon-ar.icon-ar-inverse.icon-ar-help {
  background-color: transparent;
  color: #ac60d0;
  border-color: #ac60d0;
}
.icon-ar.icon-ar-inverse.icon-ar-black {
  background-color: transparent;
  color: #333;
  border-color: #333;
}
a > .icon-ar.icon-ar-inverse:hover {
  background-color: #0099da;
  color: #fff;
}

.right-line {
  position: relative;
  z-index: 1;
  overflow: hidden;
  color: #000;
  margin: 30px 0;
}
.right-line:after {
  position: absolute;
  top: 55%;
  overflow: hidden;
  width: 100%;
  height: 1px;
  content: '\a0';
  background-color: #ddd;
  border-left: solid 20px #f7f7f7;
}


.container-fluid.full-height {
	height:100%;
}
.container-body {
	margin-top:120px;
}
.row.full-screen {
	width:100%;
	margin:0;
}



/*** SIDEBAR AND RELATED CLASSES ***/
.sidebar {
	padding-top:110px;
	height:100%;
	overflow:auto;
	/*margin-bottom:35px;*/
	box-shadow: 1px -1px 1px #ddd;
	border-right:1px solid #ccc;
	border-bottom:0px;

	background-color:#efefef;
    background: -webkit-linear-gradient(#efefef, #f7f7f7;);
    background: -o-linear-gradient(#efefef, #f7f7f7);
    background: -moz-linear-gradient(#efefef, #f7f7f7);
    background: linear-gradient(#efefef, #f7f7f7);
}
.section-header {
	text-transform: uppercase;
	font-weight: bold;
	font-size:14px;
	font-style:normal !important;
	color:#696d73;
	margin-bottom:8px;
}
.sidebar-footer {
	display:block;
	position:fixed;
	width:16.6666667%;
	left:0px;
	bottom:0px;
	height:150px;
	border-top:1px solid #999;
	border-right:1px solid #999;
	padding:15px;
	background-color:#cfcfcf;
	box-shadow: 0px 0px 1px #888888;
}
.sidebar .sidebar-section {
	margin-bottom:28px;
}
.company-text {
	font-weight: bold;
	font-size: 15px;
}



/*** SERVICES / JOBS ***/
#main-stats .stat {
  padding:8px 0px 12px 0px;
}
#main-stats .stat .data {
  font-weight:400;
  font-size:12px;
  padding-right:30px;
}
#main-stats .stat .data .number {
}
#main-stats .stat .aux {
  color: #b4b8bb;
  font-weight: lighter;
  font-family: 'Lato', 'Open Sans';
  font-style: italic;
  font-size: 13px;
  position: absolute;
  right: 30px;
  margin-top:-8px;
}

.progress {
	margin-bottom:0px;
	border:1px solid #888;
}


/* From Bootstrap 3.3.6 */
.bg-primary{color:#fff;background-color:#337ab7}
a.bg-primary:focus,a.bg-primary:hover{background-color:#286090}
.bg-success{background-color:#02c66c}
a.bg-success:focus,a.bg-success:hover{background-color:#c1e2b3}
.bg-info{background-color:gray}
a.bg-info:focus,a.bg-info:hover{background-color:#afd9ee}
.bg-warning{background-color:#fcf8e3}
a.bg-warning:focus,a.bg-warning:hover{background-color:#f7ecb5}
.bg-danger{background-color:#d9534f}
a.bg-danger:focus,a.bg-danger:hover{background-color:#e4b9b9}

.bg-brown{color:#fff;background-color:#ad683a;}
.text-brown{color:#ad683a !important;}
/*
.bg-brown{color:#fff;background-color:#c37744;}
.text-brown{color:#c37744 !important;}
*/
.text-black{color:#000000 !important;}
.long-text { max-height:200px; overflow-y:auto; }
.text-danger { color:#b94a48 !important; }
.text-success { color:#468847 !important; }



/* From Artificial Reason 1.5 */
.nav-tabs.nav-tabs-transparent li a {
  font-size: 1.3em;
  color: #7e8488;
  margin-right: 0;
  padding-left: 15px;
  padding-right: 15px;
  border-right: solid 1px #ddd;
  font-family: "Lato";
  transition: all .25s ease;
}
.nav-tabs.nav-tabs-transparent li a:hover {
  background-color: #e5e5e5;
}
.nav-tabs.nav-tabs-transparent li.active a,
.nav-tabs.nav-tabs-transparent li.active a:hover,
.nav-tabs.nav-tabs-transparent li.active a:focus {
  background-image: linear-gradient(to top, #0087c1, #0099da);
  color: #fff;
  border-bottom: solid 1px #ddd;
}
.nav-tabs.nav-tabs-ar {
  border-top: solid 3px #e5e5e5;
  border-right: solid 1px #e5e5e5;
  font-family: "Lato", sans-serif;
  background-color: #fafafa;
}
.nav-tabs.nav-tabs-ar li a {
  margin-top: -3px;
  margin-right: 0;
  margin-left: 0;
  border-radius: 0;
  color: #555;
  transition: padding 0.2s, border-top 0.2s;
  -moz-transition: padding 0.2s, border-top 0.2s;
  -webkit-transition: padding 0.2s, border-top 0.2s;
  padding-right: 5px;
  padding-left: 5px;
  background-color: #fafafa;
  margin-left: -1px;
  border: 0;
  border-bottom: solid 1px #e5e5e5;
  border-top: solid 3px #e5e5e5;
}
.nav-tabs.nav-tabs-ar li:first-child a {
  border-left: solid 1px #e5e5e5;
}
.nav-tabs.nav-tabs-ar li:first-child a {
  margin-left: 0px;
}
.nav-tabs.nav-tabs-ar li a:hover,
.nav-tabs.nav-tabs-ar li.active a,
.nav-tabs.nav-tabs-ar li.active a:hover,
.nav-tabs.nav-tabs-ar li.active a:focus {
  border-top: solid 3px #0099da;
  background-color: #f9f9f9;
  border-left: solid 1px #e5e5e5;
  border-right: solid 1px #e5e5e5;
  color: #0099da;
  padding-right: 5px;
  padding-left: 5px;
  font-weight: 500;
}
.nav-tabs.nav-tabs-ar li.active a {
  position: relative;
  z-index: 2;
}
.nav-tabs.nav-tabs-ar li.active a,
.nav-tabs.nav-tabs-ar li.active a:hover,
.nav-tabs.nav-tabs-ar li.active a:focus {
  border-bottom: solid 1px #f9f9f9;
}
.nav-tabs.nav-tabs-ar li a:hover {
  position: relative;
  z-index: 1;
  border-bottom-color: #e5e5e5;
  border-top-color: #000;
  color: #000;
}
@media (min-width: 370px) {
  .nav-tabs.nav-tabs-ar li a {
    padding-right: 10px;
    padding-left: 10px;
  }
  .nav-tabs.nav-tabs-ar li a:hover,
  .nav-tabs.nav-tabs-ar li.active a,
  .nav-tabs.nav-tabs-ar li.active a:hover,
  .nav-tabs.nav-tabs-ar li.active a:focus {
    padding-right: 25px;
    padding-left: 25px;
  }
}
.nav-tabs.nav-tabs-ar + .tab-content {
  padding: 15px;
  border-left: solid 1px #e5e5e5;
  border-right: solid 1px #e5e5e5;
  border-bottom: solid 1px #e5e5e5;
  overflow: hidden;
  background-color: #f9f9f9;
}
.nav-tabs.nav-tabs-ar.nav-tabs-ar-white,
.nav-tabs.nav-tabs-ar.nav-tabs-ar-white li a,
.nav-tabs.nav-tabs-ar.nav-tabs-ar-white li a:hover,
.nav-tabs.nav-tabs-ar.nav-tabs-ar-white li.active a,
.nav-tabs.nav-tabs-ar.nav-tabs-ar-white li.active a:hover,
.nav-tabs.nav-tabs-ar.nav-tabs-ar-white li.active a:focus,
.nav-tabs.nav-tabs-ar.nav-tabs-ar-white + .tab-content {
  background-color: #fff;
}
.nav-tabs.nav-tabs-ar li a i {
  font-size: 1.2em;
}
.nav-tabs + .tab-content {
  padding: 15px;
  border-left: solid 1px #e5e5e5;
  border-right: solid 1px #e5e5e5;
  border-bottom: solid 1px #e5e5e5;
  overflow: hidden;
}
.nav-tabs li a {
  border-radius: 2px;
}
.nav-tabs.nav-tabs-round li a {
  border-radius: 5px 5px 0 0;
}
.nav-tabs li a:hover {
  background-color: #f5f5f5;
}
.yamm .nav,
.yamm .collapse,
.yamm .dropup,
.yamm .dropdown {
  position: static;
}
.yamm .container {
  position: relative;
}
.yamm .dropdown-menu {
  left: auto !important;
  right: auto !important;
}
.yamm .dropdown-submenu > .dropdown-menu {
  top: -1px;
  left: 100%;
  margin-top: -5px;
  margin-left: 0px;
}
.yamm .yamm-content {
  padding: 0;
  width: 400px;
}
.yamm .dropdown.yamm-fw .dropdown-menu {
  left: 0;
  right: 0;
}
.col-megamenu {
  border-right: solid 1px #ddd;
  padding: 0;
}
.col-megamenu::last-child {
  border: 0;
}
.yamm-content .row {
  margin: 0;
}
.megamenu-block .megamenu-block-title {
  line-height: 1;
  margin: 0;
  padding: 0;
  color: #222;
  font-size: 16px;
  padding: 15px 20px 10px 20px;
  text-transform: uppercase;
}
.megamenu-block .megamenu-block-title i {
  margin-right: 5px;
}
.megamenu-block ul {
  margin: 0;
  padding: 0;
}
.megamenu-block ul li {
  list-style: none;
  margin: 0;
  padding: 0;
  list-style-position: outside;
  max-width: 90%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.megamenu-block ul li a {
  padding: 2px 20px;
  font-size: 13px;
  display: block;
  color: #333;
}
.megamenu-block ul li a i {
  margin-right: 5px;
}
.megamenu-block ul li a:hover {
  text-decoration: none;
}
.navbar-dark .megamenu-block-title,
.navbar-inverse .megamenu-block-title {
  color: #222;
}
.navbar-dark .col-megamenu,
.navbar-inverse .col-megamenu {
  border-right: solid 1px #555;
}

.table-inventory .in-stock td,
.descr-row.in-stock {
    background-color: #f9edd8;
    background: -webkit-linear-gradient(#f9edd8, #faeed9);
    background: -o-linear-gradient(#f9edd8, #faeed9);
    background: -moz-linear-gradient(#f9edd8, #faeed9);
    background: linear-gradient(#f9edd8, #faeed9);
}

.table-inventory .bad-stock td {
    background-color: #ead8ea;
    background: -webkit-linear-gradient(#ead8ea, #ebd9eb);
    background: -o-linear-gradient(#ead8ea, #ebd9eb);
    background: -moz-linear-gradient(#ead8ea, #ebd9eb);
    background: linear-gradient(#ead8ea, #ebd9eb);
}

.table-inventory .never-stock td,
.never-stock .first {
	background: repeating-linear-gradient(
    -55deg,
    #edeef5,
    #edeef5 10px,
    #f1f2f8 10px,
    #f1f2f8 20px
  );
}

.table-inventory .out-stock td,
.out-stock .first {
  background: repeating-radial-gradient(
    circle,
    #edeef5,
    #edeef5 10px,
    #f1f2f8 10px, 
    #f1f2f8 20px
  );
}
