Options +FollowSymLinks
RewriteEngine On
RewriteBase /

<IfModule mod_rewrite.c>

# block libwww-perl clients (used by bad bots)
RewriteCond %{HTTP_USER_AGENT} libwww-perl.*
RewriteRule .* – [F,L]

# force https
RewriteCond %{HTTP:X-Forwarded-Proto} !https [NC]
#RewriteCond %{HTTP_HOST} ^.*stackbay\.com$ [NC]
RewriteCond %{HTTP_HOST} ^(www\.)*stackbay\.com$ [NC]
RewriteRule ^.*$ https://%{SERVER_NAME}%{REQUEST_URI} [R=301,L]

RewriteCond %{HTTP_HOST} ^stackbay\.com$ [NC]
RewriteRule .* https://www.stackbay.com%{REQUEST_URI} [R=301,L]

#RewriteRule ^404 /error.php [R=301,NC,L]
RewriteRule ^404 /error.php [NC,L]

# docs handler
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)uploads/(.*)$ uploads/reader.php [L]

# inventory download handler
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)downloads/(.*)$ downloads/exporter.php [L]

# product image handler
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)img/parts/(.*)$ prodimg.php [L]

# dev image handler
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)devimgs/(.*)$ prodimg.php [L]

# docs handler
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)docs/([^.]+.pdf|PDF)$ docs.php [L]

# orders handler
RewriteCond %{REQUEST_URI} ^(RMA|INV|OS|[SPR]O)(.+)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule ^([SPR]O)?([0-9]+)$ order_search.php [L]
#RewriteRule ^([SPR]O)?(.+)$ order_search.php [L]
RewriteRule ^(RMA|INV|OS|[SPR]O)?(.+)$ order_search.php [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ 404 [L]

</IfModule>
