Options +FollowSymLinks
RewriteEngine On
RewriteBase /

<IfModule mod_rewrite.c>

# block libwww-perl clients (used by bad bots)
RewriteCond %{HTTP_USER_AGENT} libwww-perl.*
RewriteRule .* – [F,L]

# docs handler
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)uploads/(.*)$ uploads/reader.php [L]

# product image handler
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)img/parts/(.*)$ prodimg.php [L]

</IfModule>
