Options +FollowSymLinks
RewriteEngine On
RewriteBase /

<IfModule mod_rewrite.c>

# block libwww-perl clients (used by bad bots)
RewriteCond %{HTTP_USER_AGENT} libwww-perl.*
RewriteRule .* – [F,L]

# force https
RewriteCond %{HTTP:X-Forwarded-Proto} !https [NC]
RewriteCond %{HTTP_HOST} ^.*stackbay\.com$ [NC]
RewriteRule ^.*$ https://%{SERVER_NAME}%{REQUEST_URI} [R=301,L]

RewriteCond %{HTTP_HOST} ^stackbay\.com$ [NC]
RewriteRule .* https://www.stackbay.com%{REQUEST_URI} [R=301,L]

# docs handler
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)uploads/(.*)$ uploads/reader.php [L]

# product image handler
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)img/parts/(.*)$ prodimg.php [L]

# dev image handler
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)devimgs/(.*)$ prodimg.php [L]

# docs handler
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)docs/([^.]+.pdf|PDF)$ docs.php [L]

# orders handler
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule ^([SPR]O)?([0-9]+)$ order.php [L]
#RewriteRule ^([SPR]O)?(.+)$ order.php [L]
RewriteRule ^(RMA|[SPR]O)?(.+)$ order.php [L]

</IfModule>
